{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": "> 0.25%, not dead",
            "useBuiltIns": "usage",
            "corejs": "3"
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ],
        "@babel/plugin-proposal-optional-chaining"
      ]
    },
    "client": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": "> 0.25%, not dead",
            "useBuiltIns": "usage",
            "corejs": "3"
          }
        ]
      ]
    }
  }
}
